.home {
  max-width: 800px;
  margin: 0 auto;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  p {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}

.home-search {
  input {
    display: inline-block;
    margin: 0.5rem auto 0;
    padding: 10px 15px;
    border: 1px solid #b6b6b6;
    width: 555px;
    height: 60px;
    outline: none;
    border-radius: 8px;
  }

  button {
    padding: 24px;
    margin-left: 10px;
    height: 60px;
    width: 70px;
    border-radius: 8px;
    background-image: url("../../images/search.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--blue-hvex);
    border: none;
    cursor: pointer;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
