.card {
  width: 634px;
  height: 400px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 0.25rem #2525256e;
  padding: 20px;
  transition: 0.5s;
  border-radius: 8px;
  height: auto;

  &:hover {
    box-shadow: 0 0 1rem #2525256e;
    transition: 0.5s;
  }

  img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    border: 1px solid #25252579;
  }

  p {
    font-weight: 500;
  }

  a {
    display: block;
    text-align: center;
    text-decoration: #252525 underline;
  }

  span,
  p {
    font-weight: 500;
  }
}
